body{
  margin:0;
  padding:2em 0 0 0;
  font-size:1.2rem;
}
nav#topColumn{
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color:hsl(0, 0%, 93%);
  color:hsl(0, 0%, 10%);
  border-top:1px solid hsl(0,0%,75%);
  border-bottom:1px solid hsl(0,0%,75%);
  display:flex;
}

nav#topColumn ul{
  flex:1;
  display:flex;
  list-style:none;
  padding:0;
  margin:0;
}
nav#topColumn ul:last-child{
  text-align:right;
  flex-direction:row-reverse;
}
nav#topColumn ul li{
  flex:0 0 auto;
  padding:0.5em calc(0.5em + 1px);
}
nav#topColumn ul li:hover{
  background-color:hsl(0, 0%, 90%);
  border-left:1px solid hsl(0,0%,75%);
  border-right:1px solid hsl(0,0%,75%);
  padding:calc(0.5em + 0px);
  cursor:pointer;
}

section#meta {
  background-color:hsl(0, 0%, 95%);
    padding: 2rem calc(50vw - 500px);
 
}
section#meta >h1 {
  text-align:center;
}
section#meta > input,section#meta > textarea,section#meta > p {
  display:block;
  padding:0.5em;
  margin:0.5em;
  width:calc(100% - 2em);
}
section#meta > p > .add{
  border:1px solid #c0c0c0;
  background-color:white;
  padding:0.1em 0.5em;
  box-shadow: 0 0 5px black;
}
section#meta > p > .add:hover{
  cursor:pointer;
}

section#text {
    counter-reset: paragraphe;
    padding: 2rem calc(50vw - 500px);
  }
section#text:focus{
  border:none;
  outline:0px solid transparent;
}
section#text p.typeIn{
  margin:0;
  padding:0.5em 0;
    text-align: justify;
    line-height: 1.5em;
}
section#text .h1,section#text .h2,section#text .h3{
}
section#text .h1 {
    counter-reset: subsection;
    font-size:1.8rem;
    font-weight:bold;
    text-decoration: underline;
}
section#text .h2 {
    counter-reset: subsubsection;
    font-size:1.6rem;
}
section#text .h3 {
    font-size:1.4rem;
}

section#text .h1:before {
    counter-increment: paragraphe;
    content: "" counter(paragraphe,upper-roman) ". ";
}

section#text .h2:before {
    counter-increment: subsection;
    content: counter(paragraphe,upper-roman) "." counter(subsection) " ";
}
section#text .h3:before {
    counter-increment: subsubsection;
    content: counter(paragraphe,upper-roman) "." counter(subsection) "." counter(subsubsection, lower-alpha) " ";
}